<h2 mat-dialog-title>Liste des objets</h2>
<div mat-dialog-content>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index"> {{i}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
      <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
        <ng-container *ngIf="element.name">
          <span class="editable-cell">
            {{element.name}}
          </span>
          </ng-container>
          <span class="editable-cell" *ngIf="!element.name">
            nom
          </span>
          <sat-popover #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update(element, 'name', $event)">
            <app-inline-edit key="Entrez un nom pour l'objet" [value]="element.name"></app-inline-edit>
          </sat-popover>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
      <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.position">
            <span class="editable-cell">
              {{element.position}}
            </span>
            </ng-container>
            <span class="editable-cell" *ngIf="!element.position">
              position
            </span>
            <sat-popover #p
                hasBackdrop
                xAlign="start"
                yAlign="start"
                (closed)="update(element, 'position', $event)">
              <app-inline-edit key="Entrez la position de l'objet" [value]="element.position"></app-inline-edit>
            </sat-popover>
        </mat-cell> 
    </ng-container>
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> Couleur </mat-header-cell>
      <mat-cell *matCellDef="let element" [style.background-color]="getColor(element.color)" (click)="chooseColor(element)">&nbsp;</mat-cell>
    </ng-container>  
    <ng-container matColumnDef="fabric">
      <mat-header-cell *matHeaderCellDef> Matière </mat-header-cell>
      <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.fabric">
            <span class="editable-cell">
              {{element.fabric}}
            </span>
            </ng-container>
            <span class="editable-cell" *ngIf="!element.fabric">
                matière
            </span>
            <sat-popover #p
                hasBackdrop
                xAlign="start"
                yAlign="start"
                (closed)="update(element, 'fabric', $event)">
              <app-inline-edit key="Entrez la matière de l'objet" [value]="element.fabric"></app-inline-edit>
            </sat-popover>
        </mat-cell> 
    </ng-container>    
    <ng-container matColumnDef="wind">
      <mat-header-cell *matHeaderCellDef> Vent </mat-header-cell>
      <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.wind">
            <span class="editable-cell">
              {{element.wind}}
            </span>
            </ng-container>
            <span class="editable-cell" *ngIf="!element.wind">
                vent
            </span>
            <sat-popover #p
                hasBackdrop
                xAlign="start"
                yAlign="start"
                (closed)="update(element, 'wind', $event)">
              <app-inline-edit key="Entrez le sens du vent" [value]="element.wind"></app-inline-edit>
            </sat-popover>
        </mat-cell> 
    </ng-container>    
    <ng-container matColumnDef="specificity">
      <mat-header-cell *matHeaderCellDef> Commentaire </mat-header-cell>
      <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
        <ng-container *ngIf="element.specificity">
          <span class="editable-cell">
            {{element.specificity}}
          </span>
        </ng-container>
        <span class="editable-cell" *ngIf="!element.specificity">
          Commentaire
        </span>
        <sat-popover #p
          hasBackdrop
          xAlign="start"
          yAlign="start"
          (closed)="update(element, 'specificity', $event)">
          <app-inline-edit key="Entrez un commentaire" [value]="element.specificity"></app-inline-edit>
        </sat-popover>
      </mat-cell> 
    </ng-container>    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>    
  </mat-table>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="confirm()" tabindex="-1">Ok</button>
</div>
