<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <h2 md-dialog-title>Veuillez vous connecter</h2>
    <div md-dialog-content>
        <md-form-field>
            <input mdInput type="text" name="username" [(ngModel)]="model.username" #username="ngModel" placeholder="Login" required>
        </md-form-field>
        <md-form-field>
            <input mdInput type="password" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Mot de passe"
                required>
        </md-form-field>
        <div [hidden]="!error" class="alert alert-danger">
            {{error}}
        </div>
    </div>
    <div md-dialog-actions>
        <button md-button color="primary" type="submit" [disabled]="loading">Se connecter</button>
        <button md-button (click)="register()">S'inscrire</button>
    </div>
</form>