<form *ngIf="showForm" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <h2 mat-dialog-title>Veuillez vous connecter</h2>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput type="text" name="username" [(ngModel)]="model.username" #username="ngModel" placeholder="Login" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Mot de passe"
                required>
        </mat-form-field>
        <div [hidden]="!error" class="alert alert-danger">
            {{error}}
        </div>
    </div>
    <button *ngIf="showForm" mat-button color="primary" type="submit" [disabled]="loading">Se connecter</button>
</form>
<div mat-dialog-content *ngIf="!showForm" class="intro">
    <h2 mat-dialog-title>Canimap</h2>
    <p><span class="brand">Canimap</span> est votre application internet pour la création et l'édition de parcours de Recherche Utilitaire.</p>
    <p>Avec <span class="brand">Canimap</span>, vous pourrez afficher des fonds de carte IGN, Google, Bing et les supperposer.</p>
    <p>Vous pourrez partir de zéro pour créer un parcours, poser des objets, vous saurez la longueur exacte de ce parcours.</p>
    <p>vous pouvez également importer des traces GPX ou KLM et ainsi vérifier le parcours éffectif de vos chiens. Ou bien reconnaitre les pistes et importer ces reconnaissances directement dans le logiciel <span class="brand">Canimap</span>.</p>
</div>
<div mat-dialog-actions>
    <button *ngIf="!showForm" mat-button (click)="register()">S'inscrire</button>
    <button *ngIf="showReset" mat-button (click)="register()">Réinitialiser le compte</button>
</div>
