<div md-dialog-content>
    <p>Sélectionner le fichier à ouvrir : </p>
    <input (change)="fileReceived($event)" type="file" id="file" name="file" accept=".geojson" />
    <div id="drop_zone" (dragover)="dragover($event)" (drop)="drop($event)">Déposer le fichier ici</div>
    <table *ngIf="data" width="100%" class="table table-sm table-striped table-hover table-responsive">
      <tr>
        <th>Nom</th>
        <th>Taille</th>
        <th>Dernière modification</th>
      </tr>
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.size}}</td>
        <td>{{data.lastModifiedDate.toLocaleDateString()}}</td>
      </tr>
    </table>
  </div>
  <div md-dialog-actions>
    <button md-button [md-dialog-close]="data" tabindex="2">Ok</button>
    <button md-button (click)="onNoClick()" tabindex="-1">Non merci!</button>
  </div>
