<h2 mat-dialog-title>Opacité des cartes</h2>
<div mat-dialog-content>
    <table width="100%">
        <tr *ngFor="let layerBox of layerBoxes">
            <td>{{layerBox.name}}</td>
            <td>
                <mat-slider (input)="onInputChange($event, layerBox)" [value]="layerBox.layer.getOpacity()" max="1" min="0"
                            step="0.01"></mat-slider>
            </td>
        </tr>
    </table>
</div>
<div mat-dialog-actions>
    <button (click)="confirm()" mat-button tabindex="-1">Ok</button>
</div>
