<div mat-dialog-content>
    <p>Sélectionner les cartes à ouvrir : </p>
    <div (dragover)="dragover($event)" (drop)="drop($event)" id="drop_zone">Déposer le(s) fichier(s) ici ou <a
            (click)="upload()">uploadez le(s)</a></div>
    <br/>
    <output *ngIf="data" id="list">
        <table class="table table-sm table-striped table-hover table-responsive" width="100%">
            <tr>
                <th>Nom</th>
                <th>Taille</th>
                <th>Dernière modification</th>
                <th>Type</th>
            </tr>
            <tr *ngFor="let f of data">
                <td>{{f.name}}</td>
                <td>{{f.size}}</td>
                <td>{{f.lastModifiedDate.toLocaleDateString()}}</td>
                <td>{{f.name.split('.').pop().toUpperCase()}}</td>
            </tr>
        </table>
    </output>
</div>
<input #filesOpen (change)="fileReceived($event)" accept=".geojson" id="files" multiple name="files[]" style="display:none"
       type="file"/>
<div mat-dialog-actions>
    <button [mat-dialog-close]="data" color="primary" mat-button tabindex="2">Ok</button>
    <button (click)="onNoClick()" mat-button tabindex="-1">Non merci!</button>
</div>
