<div mat-dialog-content>
    <div (dragover)="dragover($event)" (drop)="drop($event)" id="drop_zone">Déposer le fichier ici ou <a
            (click)="upload()">uploadez le</a></div>
    <output *ngIf="data" id="list">
        <table *ngIf="data" class="table table-sm table-striped table-hover table-responsive" width="100%">
            <tr>
                <th>Nom</th>
                <th>Taille</th>
                <th>Dernière modification</th>
                <th>Type</th>
            </tr>
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.size}}</td>
                <td>{{data.lastModifiedDate.toLocaleDateString()}}</td>
                <td>{{data.name.split('.').pop().toUpperCase()}}</td>
            </tr>
        </table>
    </output>
    <input #fileOpen (change)="fileReceived($event)" [accept]="types" id="file" name="file" style="display:none"
           type="file"/>
</div>
<div mat-dialog-actions>
    <button [mat-dialog-close]="data" color="primary" mat-button tabindex="2">Ok</button>
    <button (click)="onNoClick()" mat-button tabindex="-1">Non merci!</button>
</div>
