<button md-icon-button #menuTrigger="mdMenuTrigger" [mdMenuTriggerFor]="appMenu" mdTooltipPosition="right" mdTooltip="Recherche Utilitaire">
  <md-icon class="md-24">
      pets
  </md-icon>
</button>
<md-menu #appMenu="mdMenu" [overlapTrigger]="true">
  <button md-icon-button aria-label="Victim" mdTooltipPosition="below" mdTooltip="Piste de la victime" i18n="Victim|draw the victim path"
    (click)="draw('VictimPath')">
    <md-icon class="md-24"  [style.color]="color('VictimPath')">
      directions_walk
    </md-icon>
  </button>
  <button md-icon-button aria-label="Tracker" mdTooltipPosition="below" mdTooltip="Piste de l'&eacute;quipe" i18n="Tracker|draw the tracker path"
    (click)="draw('K9Path')">
      <md-icon class="md-24" [style.color]="color('K9Path')">
        pets
      </md-icon>
  </button>
  <button md-icon-button aria-label="Parking" mdTooltipPosition="below" mdTooltip="Parking" i18n="Parking|Put a parking slot"
    (click)="draw('ParkingMarker')">
    <md-icon class="md-24"  color="color('ParkingMarker')">
      local_parking
    </md-icon>
  </button>
  <button md-icon-button aria-label="Pose" mdTooltipPosition="below" mdTooltip="Objet posé" i18n="Laying|put a laying object"
    (click)="draw('PoseMarker')">
    <img src="../assets/icons/dot_green.png"/>
  </button>
  <button md-icon-button aria-label="Suspendus" mdTooltipPosition="below" mdTooltip="Objet suspendu" i18n="Hanging|put a suspended object"
    (click)="draw('SuspenduMarker')">
    <img src="../assets/icons/dot_blue.png"/>
  </button>
  <button md-icon-button aria-label="Cache" mdTooltipPosition="below" mdTooltip="Objet caché" i18n="Hidden|put a hidden object"
    (click)="draw('CacheMarker')">
    <img src="../assets/icons/dot_purple.png"/>
  </button>
  <button md-icon-button aria-label="Objets" mdTooltipPosition="below" mdTooltip="Liste des objets" i18n="Object list|Display a list of objects"
  (click)="objects()">
  <md-icon class="md-24">
      assignment
    </md-icon>
  </button>
</md-menu>
