<div class="btn-group menu-bar" role="toolbar" aria-label="Toolbar with button groups">
  <button md-icon-button (click)="chooseLayers($event)" aria-label="Layers" mdTooltipPosition="below" mdTooltip="Choisir le fond de carte"
    i18n="Layers|Choose the map layers">
    <md-icon class="md-24" color="default">
      layers
    </md-icon>
  </button>
  <button md-icon-button aria-label="Victim" mdTooltipPosition="below" mdTooltip="Piste de la victime" i18n="Victim|draw the victim path"
    (click)="draw('VictimPath')">
    <md-icon class="md-24"  [style.color]="color('VictimPath')">
      directions_walk
    </md-icon>
  </button>
  <button md-icon-button aria-label="Tracker" mdTooltipPosition="below" mdTooltip="Piste de l'&eacute;quipe" i18n="Tracker|draw the tracker path"
    (click)="draw('K9Path')">
      <md-icon class="md-24" [style.color]="color('K9Path')">
        pets
      </md-icon>
  </button>
  <button md-icon-button aria-label="Parking" mdTooltipPosition="below" mdTooltip="Parking" i18n="Parking|Put a parking slot"
    (click)="draw('ParkingMarker')">
    <md-icon class="md-24"  color="color('ParkingMarker')">
      local_parking
    </md-icon>
  </button>
  <button md-icon-button aria-label="Pose" mdTooltipPosition="below" mdTooltip="Objet posé" i18n="Laying|put a laying object"
    (click)="draw('PoseMarker')">
    <img src="../assets/dot_green.png"/>
  </button>
  <button md-icon-button aria-label="Suspendus" mdTooltipPosition="below" mdTooltip="Objet suspendu" i18n="Hanging|put a suspended object"
  (click)="draw('SuspenduMarker')">
  <img src="../assets/dot_blue.png"/>
</button>
<button md-icon-button aria-label="Cache" mdTooltipPosition="below" mdTooltip="Objet caché" i18n="Hidden|put a hidden object"
(click)="draw('CacheMarker')">
  <img src="../assets/dot_purple.png"/>
</button>
<button md-icon-button aria-label="Coordinates" mdTooltipPosition="below" mdTooltip="Position GPS" i18n="GPG|Add GPS marker"
    (click)="gpsMarker($event)">
    <md-icon class="md-24" [style.color]="gpsColor()">
      location_searching
    </md-icon>
  </button>
</div>
