<button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="appMenu" mat-icon-button matTooltip="Recherche Utilitaire"
        matTooltipPosition="right">
    <mat-icon class="mat-24">
        pets
    </mat-icon>
</button>
<mat-menu #appMenu="matMenu" [overlapTrigger]="true">
    <button (click)="draw('VictimPath')" aria-label="Victim" i18n="Victim|draw the victim path" mat-icon-button
            matTooltip="Piste de la victime"
            matTooltipPosition="below">
        <mat-icon [style.color]="color('VictimPath')" class="mat-24">
            directions_walk
        </mat-icon>
    </button>
    <button (click)="draw('K9Path')" aria-label="Tracker" i18n="Tracker|draw the tracker path" mat-icon-button
            matTooltip="Piste de l'&eacute;quipe"
            matTooltipPosition="below">
        <mat-icon [style.color]="color('K9Path')" class="mat-24">
            pets
        </mat-icon>
    </button>
    <button (click)="draw('ParkingMarker')" aria-label="Parking" i18n="Parking|Put a parking slot" mat-icon-button
            matTooltip="Parking"
            matTooltipPosition="below">
        <mat-icon class="mat-24" color="color('ParkingMarker')">
            local_parking
        </mat-icon>
    </button>
    <button (click)="draw('PoseMarker')" aria-label="Pose" i18n="Laying|put a laying object" mat-icon-button
            matTooltip="Objet posé"
            matTooltipPosition="below">
        <img src="../assets/icons/dot_green.png" alt="posé"/>
    </button>
    <button (click)="draw('SuspenduMarker')" aria-label="Suspendus" i18n="Hanging|put a suspended object" mat-icon-button
            matTooltip="Objet suspendu"
            matTooltipPosition="below">
        <img src="../assets/icons/dot_blue.png" alt="suspendu"/>
    </button>
    <button (click)="draw('CacheMarker')" aria-label="Cache" i18n="Hidden|put a hidden object" mat-icon-button
            matTooltip="Objet caché"
            matTooltipPosition="below">
        <img src="../assets/icons/dot_purple.png" alt="caché"/>
    </button>
    <button (click)="objects()" aria-label="Objets" i18n="Object list|Display a list of objects" mat-icon-button
            matTooltip="Liste des objets"
            matTooltipPosition="below">
        <mat-icon class="mat-24">
            assignment
        </mat-icon>
    </button>
    <button (click)="trackName()" aria-label="Nom" i18n="Track name|DDisplay track name" mat-icon-button
            matTooltip="Afficher le nom de la piste"
            matTooltipPosition="below">
        <mat-icon class="mat-24">
            chrome_reader_mode
        </mat-icon>
    </button>
</mat-menu>
