<button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="appMenu" mat-icon-button matTooltip="Outils de dessin"
        matTooltipPosition="right">
    <mat-icon class="mat-24">
        edit
    </mat-icon>
</button>
<mat-menu #appMenu="matMenu" [overlapTrigger]="true">
    <button (click)="draw('LineString')" aria-label="Multilignes" i18n="Multilignes|Tracer des lignes" mat-icon-button
            matTooltip="Multilignes"
            matTooltipPosition="below">
        <mat-icon [style.color]="color('LineString')" class="mat-24">
            timeline
        </mat-icon>
    </button>
    <button (click)="draw('LineStringArrow')" aria-label="Multilignes" i18n="Multilignes|Tracer des lignes" mat-icon-button
            matTooltip="Multilignes Avec Flêches"
            matTooltipPosition="below">
        <mat-icon [style.color]="color('LineStringArrow')" class="mat-24">
            call_missed_outgoing
        </mat-icon>
    </button>
    <button (click)="draw('Polygon')" aria-label="Polygone" i18n="Polygone|Dessiner un polygone" mat-icon-button
            matTooltip="Polygone"
            matTooltipPosition="below">
        <mat-icon [style.color]="color('Polygon')" class="mat-24">
            details
        </mat-icon>
    </button>
    <button (click)="draw('Rectangle')" aria-label="Rectangle" i18n="Rectangle|Dessiner un rectangle" mat-icon-button
            matTooltip="Rectangle"
            matTooltipPosition="below">
        <mat-icon [style.color]="color('Rectangle')" class="mat-24">
            crop_square
        </mat-icon>
    </button>
    <button (click)="draw('Circle')" aria-label="Disque" i18n="Disque|Dessiner un disque" mat-icon-button
            matTooltip="Disque"
            matTooltipPosition="below">
        <mat-icon [style.color]="color('Circle')" class="mat-24">
            fiber_manual_record
        </mat-icon>
    </button>
    <button (click)="edit()" aria-label="Modifier" i18n="Modify|Modify the features" mat-icon-button
            matTooltip="Modifier"
            matTooltipPosition="below">
        <mat-icon [style.color]="color('edit')" class="mat-24">
            edit
        </mat-icon>
    </button>
    <button (click)="delete()" aria-label="Delete" i18n="Delete|Delete a feature" mat-icon-button
            matTooltip="Supprimer"
            matTooltipPosition="below">
        <mat-icon [style.color]="color('delete')" class="mat-24">
            delete
        </mat-icon>
    </button>
    <button (click)="chooseColor()" aria-label="Color" class="app-canimap-color-chooser" i18n="Color|Change the color"
            mat-icon-button
            matTooltip="Changer la couleur" matTooltipPosition="below">
        <img class="app-canimap-color-chooser-img" src="../assets/icons/colorwheel-30x30.png" alt="choisissez une couleur"/>
    </button>
</mat-menu>
