<button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="appMenu" matTooltipPosition="right" matTooltip="Outils de dessin">
  <mat-icon class="mat-24">
      edit
  </mat-icon>
</button>
<mat-menu #appMenu="matMenu" [overlapTrigger]="true">
  <button mat-icon-button aria-label="Multilignes" matTooltipPosition="below" matTooltip="Multilignes" i18n="Multilignes|Tracer des lignes"
    (click)="draw('LineString')">
    <mat-icon class="mat-24" [style.color]="color('LineString')">
      timeline
    </mat-icon>
  </button>
  <button mat-icon-button aria-label="Multilignes" matTooltipPosition="below" matTooltip="Multilignes Avec Flêches" i18n="Multilignes|Tracer des lignes"
  (click)="draw('LineStringArrow')">
  <mat-icon class="mat-24" [style.color]="color('LineStringArrow')">
    call_missed_outgoing
  </mat-icon>
</button>
<button mat-icon-button aria-label="Polygone" matTooltipPosition="below" matTooltip="Polygone" i18n="Polygone|Dessiner un polygone"
    (click)="draw('Polygon')">
    <mat-icon class="mat-24" [style.color]="color('Polygon')">
      details
    </mat-icon>
  </button>
  <button mat-icon-button aria-label="Rectangle" matTooltipPosition="below" matTooltip="Rectangle" i18n="Rectangle|Dessiner un rectangle"
    (click)="draw('Rectangle')">
    <mat-icon class="mat-24" [style.color]="color('Rectangle')">
      crop_square
    </mat-icon>
  </button>
  <button mat-icon-button aria-label="Disque" matTooltipPosition="below" matTooltip="Disque" i18n="Disque|Dessiner un disque"
    (click)="draw('Circle')">
    <mat-icon class="mat-24" [style.color]="color('Circle')">
      fiber_manual_record
    </mat-icon>
  </button>
  <button mat-icon-button aria-label="Modifier" matTooltipPosition="below" matTooltip="Modifier" i18n="Modify|Modify the features"
    (click)="edit($event)">
    <mat-icon class="mat-24" [style.color]="color('edit')">
      edit
    </mat-icon>
  </button>
  <button mat-icon-button aria-label="Delete" matTooltipPosition="below" matTooltip="Supprimer" i18n="Delete|Delete a feature"
    (click)="delete($event)">
  <mat-icon class="mat-24" [style.color]="color('delete')">
    delete
  </mat-icon>
  </button>
  <button mat-icon-button class="app-canimap-color-chooser" aria-label="Color" matTooltipPosition="below" matTooltip="Changer la couleur"
    i18n="Color|Change the color" (click)="chooseColor($event)">
      <img class="app-canimap-color-chooser-img" src="../assets/icons/colorwheel-30x30.png"/>
  </button>
</mat-menu>
