<div class="btn-group menu-bar" role="toolbar" aria-label="Toolbar with button groups">
  <button md-icon-button aria-label="Move" mdTooltipPosition="below" mdTooltip="Déplacer la carte" i18n="Move|Move the map"
    (click)="move($event)">
  <md-icon class="md-24" [style.color]="color('move')">
    zoom_out_map
  </md-icon>
  </button>
  <button md-icon-button aria-label="Multilignes" mdTooltipPosition="below" mdTooltip="Multilignes" i18n="Multilignes|Tracer des lignes"
    (click)="polyline($event)">
    <md-icon class="md-24" [style.color]="color('polyline')">
      call_missed_outgoing
    </md-icon>
  </button>
  <button md-icon-button aria-label="Polygone" mdTooltipPosition="below" mdTooltip="Polygone" i18n="Polygone|Dessiner un polygone"
    (click)="polygon($event)">
    <md-icon class="md-24" [style.color]="color('polygon')">
      details
    </md-icon>
  </button>
  <button md-icon-button aria-label="Rectangle" mdTooltipPosition="below" mdTooltip="Rectangle" i18n="Rectangle|Dessiner un rectangle"
    (click)="rectangle($event)">
    <md-icon class="md-24" [style.color]="color('rectangle')">
      crop_square
    </md-icon>
  </button>
  <button md-icon-button aria-label="Disque" mdTooltipPosition="below" mdTooltip="Disque" i18n="Disque|Dessiner un disque"
    (click)="circle($event)">
    <md-icon class="md-24" [style.color]="color('circle')">
      fiber_manual_record
    </md-icon>
  </button>
  <button md-icon-button aria-label="Modifier" mdTooltipPosition="below" mdTooltip="Modifier" i18n="Modify|Modify the markers"
    (click)="edit($event)">
    <md-icon class="md-24" [style.color]="color('edit')">
      edit
    </md-icon>
  </button>
  <button md-icon-button class="app-canimap-color-chooser" aria-label="Color" mdTooltipPosition="below" mdTooltip="Changer la couleur"
    i18n="Color|Change the color" (click)="chooseColor($event)">
    <img src="../assets/colorwheel-30x30.png"/>
  </button>
</div>
