<h2 md-dialog-title>Opacité des cartes</h2>
<div md-dialog-content>
  <table width="100%">
    <tr *ngFor="let layer of data">
        <td>{{layer.name}}</td>
        <td><md-slider step="0.01" min="0" max="1" (input)="onInputChange($event, layer)" [value]="layer.layer.options.opacity"></md-slider></td>
    </tr>
  </table>
  <!-- <md-table #table [dataSource]="dataSource">
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.name}} </md-cell>
    </ng-container>
    <ng-container mdColumnDef="opacity">
      <md-header-cell *mdHeaderCellDef> Opacité </md-header-cell>
      <md-cell *mdCellDef="let element"> <md-slider step="0.01" min="0" max="1" (input)="onInputChange($event, element)" value="element.layer.options.opacity"></md-slider> </md-cell>
    </ng-container>
  </md-table> -->
  <!-- <md-card *ngFor="let layer of data">
    <md-card-content>
      <tr>
        <td>{{layer.name}}</td>
        <td><md-slider step="0.01" min="0" max="1" (input)="onInputChange($event, layer)" value="layer.layer.options.opacity"></md-slider></td>
      </tr>
    </md-card-content>
  </md-card>
</div> -->
</div>
<div md-dialog-actions>
    <button md-button (click)="onNoClick()" tabindex="-1">Ok</button>
</div>
