<form>
    <label>
        <input #search (click)="$event.stopPropagation()"
               [formControl]="searchControl"
               autocapitalize="off" matTooltip="Entrez une adresse ou nom de ville"
               placeholder="Rechercher une adresse ou une coordonnée GPS" spellcheck="false" type="search">
        <button (click)="gps()" aria-label="Carte" i18n="Localisation|Center the map on your location"
                mat-icon-button
                matTooltip="Centrer la carte sur votre position">
            <mat-icon class="mat-24">
                explore
            </mat-icon>
        </button>
    </label>
</form>
