<form>  
      <input (click)="$event.stopPropagation()" placeholder="Rechercher une adresse ou une coordonnée GPS" matTooltip="Entrez une adresse ou nom de ville"
    autocorrect="off" autocapitalize="off" spellcheck="off" type="search" #search [formControl]="searchControl">
</form>
<button mat-icon-button aria-label="Carte" matTooltip="Centrer la carte sur votre position"
i18n="Localisation|Center the map on your location"
(click)="gps()">
<mat-icon class="mat-24">
  explore
</mat-icon>
</button>
