.canimap-main, .alert {
  margin-top: 80px;
}

.leaflet-container {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}

.colorpicker {
  cursor: pointer;
  background: none;
  border: none;
  height:30px;
  width: 30px;
}

