<button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="appMenu" mat-icon-button matTooltip="Fichiers"
        matTooltipPosition="right">
    <mat-icon class="mat-24">
        folder
    </mat-icon>
</button>
<mat-menu #appMenu="matMenu" [overlapTrigger]="true">
    <button (click)="filesOpen()" aria-label="Files open" i18n="Open Files|Open saved files" mat-icon-button
            matTooltip="Ouvrir une ou des carte(s)"
            matTooltipPosition="below">
        <mat-icon class="mat-24">
            folder_open
        </mat-icon>
    </button>
    <button (click)="fileSave()" aria-label="File save" i18n="Save|Save the map to file" mat-icon-button
            matTooltip="Enregistrer une carte"
            matTooltipPosition="below">
        <mat-icon class="mat-24">
            file_download
        </mat-icon>
    </button>
    <button (click)="printScreen()" aria-label="Image save" i18n="Print|print the map to file"
            mat-icon-button matTooltip="Enregistrer une photo de l'ecran"
            matTooltipPosition="below">
        <mat-icon class="mat-24">
            photo_camera
        </mat-icon>
    </button>
    <button (click)="gps()" aria-label="Load GPS" i18n="Gps|load GPS file" mat-icon-button
            matTooltip="Charger une trace GPS"
            matTooltipPosition="below">
        <img src="../assets/icons/gps.png" width=32 alt="gps" />
    </button>
    <button (click)="gpx()" aria-label="Export GPX" i18n="Gps|export to GPX file" mat-icon-button
            matTooltip="Exporter une trace GPX"
            matTooltipPosition="below">
        <img src="../assets/icons/gpx.png" width=32 alt="gpx" />
    </button>
    <button (click)="kml()" aria-label="Export KML" i18n="Kml|export to KML file" mat-icon-button
            matTooltip="Exporter une trace KML"
            matTooltipPosition="below">
        <img src="../assets/icons/kml.png" width=32 alt="kml" />
    </button>
</mat-menu>
