<div class="canimap-menu">
  <button routerLink="/map" type="button" class="btn btn-outline-primary"
          aria-label="Carte"
          placement="bottom" ngbTooltip="Affichez la carte"
          i18n="Map|The mapping tools and display">
    <i class="fa fa-map" aria-hidden="true"></i>
  </button>
  <button routerLink="/user" type="button" class="btn btn-outline-primary"
          placement="bottom" ngbTooltip="Gérez votre compte"
          i18n="Account|Account management">
    <i class="fa fa-user" aria-hidden="true"></i>
  </button>
</div>
<app-canimap-location></app-canimap-location>
