<div class="canimap-menu-mobile">
  <button  type="button" class="btn btn-outline-primary"
           data-toggle="button" aria-pressed="false" autocomplete="off"
           aria-label="Tracking"
           placement="bottom" ngbTooltip="Activer le suivi"
           i18n="Tracking|Track your position"
           (click)="onTrack()">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-outline-primary"
          data-toggle="button" aria-pressed="false" autocomplete="off"
          placement="bottom" ngbTooltip="Enregistrer le parcours"
          i18n="Record|Record the track"
          (click)="recordTrack()">
    <i class="fa fa-circle" style="color: red" aria-hidden="true"></i>
  </button>
</div>
