<!-- main app container -->
<div class="container">
  <canimap-menu></canimap-menu>
  <canimap-menu-mobile></canimap-menu-mobile>
  <alert></alert>
  <router-outlet></router-outlet>
</div>
<app-modal target="gpsMarker" title="Coordonnées GPS" body="Pour obtenir les coordonnées d'un point:<ol><li>Cliquez sur la carte</li><li>Relevez la position</li><li>cliquez sur le bouton GPS du menu</li></ol>"
  ok="true"></app-modal>
<app-modal target="drawVictimPath" title="Dessinez le parcours du poseur" body="<p>
         Pour dessiner le parcours du poseur:
       <ol>
         <li>Cliquez sur la carte</li>
         <li>A chaque fois que vous cliquez, un point s'ajoute et le tracé s'allonge</li>
         <li>Lorsque vous avez terminé, cliquez sur le dernier point du tracé</li>
         <li>N'oubliez pas de sauvegarder votre carte lorsque vous avez terminé</li>
      </ol>
    </p>
    <p><i class='fa fa-info-circle' aria-hidden='true'></i> Vous pourrez toujours modifier le parcours plus tard si vous vous êtes trompés.</p>"
  ok="true"></app-modal>
<app-modal target="drawK9Path" title="Dessinez le parcours du K9" body="<p>
         Pour dessiner le parcours du K9:
       <ol>
         <li>Cliquez sur la carte</li>
         <li>A chaque fois que vous cliquez, un point s'ajoute et le tracé s'allonge</li>
         <li>Lorsque vous avez terminé, cliquez sur le dernier point du tracé</li>
         <li>N'oubliez pas de sauvegarder votre carte lorsque vous avez terminé</li>
      </ol>
    </p>
    <p><i class='fa fa-info-circle' aria-hidden='true'></i> Vous pourrez toujours modifier le parcours plus tard si vous vous êtes trompés.</p>"
  ok="true"></app-modal>
<app-modal target="parkingMarker" title="Positionner un parking" body="<p>
         Pour placer un parking:
       <ol>
         <li>Cliquez sur la carte</li>
         <li>Un marker parking avec une voiture s'ajoute sur la carte</li>
         <li>Vous pouvez déplacer le du parking en cliquant dessus et en faisant un glisser/déposer</li>
         <li>N'oubliez pas de sauvegarder votre carte lorsque vous avez terminé</li>
      </ol>
    </p>
    <p><i class='fa fa-info-circle' aria-hidden='true'></i> Vous pourrez toujours modifier le parcours plus tard si vous vous êtes trompés.</p>"
  ok="true"></app-modal>
<app-modal target="fileSave" title="Sauvegarder un fichier" body="<p>
    Sauvegarder ce fichier en lieu sur (PC + CLoud + USB).
    <br/>Vous pouvez échanger ce fichier avec quelqu'un, il pourra l'ouvrir sur canimap!
</p>"
  ok="true"></app-modal>
  <app-modal target="fileOpen" title="Ouvrir un fichier de sauvegarde" body="<p>
    <p>Vous avez la possibilité de charger plusieurs fichiers d'un coup, ça permettra de pouvoir visualiser en une fois plusieurs plan et voir s'ils ne se recoupent pas par exemple, et également de voir les meilleurs trajets entre les départs pour vos épreuves.</p>
    <p>Il y a 2 manières de charger les fichiers:
    <ol>
      <li> vous pouvez glisser/déposer les fichiers dans l'espace indiqué</li>
      <li> vous pouvez utiliser le bouton puis cliquer sur OK.</li>
    </ol>
    Si vous vous trompés, appuyez sur Echap ou sur le bouton &laquo;Non merci!&raquo;.</p>"
  ok="true"></app-modal>
