<!-- main app container -->
<div class="container">
  <canimap-menu></canimap-menu>
  <canimap-menu-mobile></canimap-menu-mobile>
  <alert></alert>
  <router-outlet></router-outlet>
</div>
<app-modal target="gpsMarker"
       title="Coordonnées GPS"
       body="Pour obtenir les coordonnées d'un point:<ol><li>Cliquez sur la carte</li><li>Relevez la position</li><li>cliquez sur le bouton GPS du menu</li></ol>"
       ok="true"></app-modal>
<app-modal target="drawVictimPath"
       title="Dessinez le parcours du poseur"
       body="<p>
         Pour dessiner le parcours du poseur:
       <ol>
         <li>Cliquez sur la carte</li>
         <li>A chaque fois que vous cliquez, un point s'ajoute et le tracé s'allonge</li>
         <li>Lorsque vous avez terminé, cliquez sur le dernier point du tracé</li>
         <li>N'oubliez pas de sauvegarder votre carte lorsque vous avez terminé</li>
      </ol>
    </p>
    <p><i class='fa fa-info-circle' aria-hidden='true'></i> Vous pourrez toujours modifier le parcours plus tard si vous vous êtes trompés.</p>"
       ok="true"></app-modal>
