<div class="btn-group" role="toolbar" aria-label="Toolbar with button groups">
  <button md-raised-button type="button" aria-label="File open" placement="bottom" ngbTooltip="Ouvrir une carte" i18n="Open File|Open a saved file"
    data-toggle="modal" data-target="#fileOpen" (click)="fileOpen($event)">
    <i class="material-icons">folder_open</i>
  </button>
  <button md-raised-button type="button" aria-label="File save" placement="bottom" ngbTooltip="Enregistrer une carte"
    i18n="Save|Save the map to file" data-toggle="modal" data-target="#fileSave" (click)="fileSave($event)">
    <i class="material-icons">file_download</i>
  </button>
</div>
