<div class="btn-group menu-bar" role="toolbar" aria-label="Toolbar with button groups">
  <!-- <button md-raised-button type="button" aria-label="File open" mdTooltipPosition="below" mdTooltip="Ouvrir une carte" i18n="Open File|Open a saved file"
    data-toggle="modal" data-target="#fileOpen" (click)="fileOpen($event)">
    <i class="material-icons">folder_open</i>
  </button>
  <button md-raised-button type="button" aria-label="File save" mdTooltipPosition="below" mdTooltip="Enregistrer une carte"
  i18n="Save|Save the map to file" data-toggle="modal" data-target="#fileSave" (click)="fileSave($event)">
  <i class="material-icons">file_download</i>
</button> -->

  <button md-icon-button>
    <md-icon class="md-24" routerLink="/map" aria-label="File open" mdTooltipPosition="below" mdTooltip="Ouvrir une carte" i18n="Open File|Open a saved file"
    data-toggle="modal" data-target="#fileOpen" (click)="fileOpen($event)">
      insert_drive_file
    </md-icon>
  </button>
  <button md-icon-button>
    <md-icon class="md-24" routerLink="/map" aria-label="File save" mdTooltipPosition="below" mdTooltip="Enregistrer une carte"
      i18n="Save|Save the map to file" data-toggle="modal" data-target="#fileSave" (click)="fileSave($event)">
      file_download
    </md-icon>
  </button>
  <input (change)="fileReceived($event)" type="file" id="file" name="file" style="display: none" />
</div>
