@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, app-canimap, app-canimap-map, .map {
  width: 100%;
  height: 100%;
}

button.mat-icon-button {
  font-weight: bold!important;
}
.canimap-main {
  margin-top: 100px;
}

.menu-bar, .pac-container {
  -moz-border-radius:10px;  /* for Firefox */
  -webkit-border-radius:10px; /* for Webkit-Browsers */
  border-radius:10px; /* regular */
  background:rgba(255,255,255,0.8); /* Transparent Background 50% */
  border: 2px solid gray;
}

.pac-logo, .pac-logo:after {
  background-image: none;
}

.ol-zoom {
  top: 10px;
}

app-canimap-alert {
  text-align: center;
  z-index: 1000;
}

app-canimap-menu {
  position: absolute;
  left: 10%;
  top: 10px;
  width: 80%;
  text-align: center;
  z-index: 1000;
}

app-canimap-location {
}

.ol-popup {
  cursor: pointer;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.mat-dialog-content output {
  width: 100%;
}

#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  margin: 10px;
  text-align: center;
  font: 15pt bold 'Vollkorn';
  color: #bbb;
}

#drop_zone a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.canimap-menu-mobile {
  display: none;
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 9999;
}

.app-canimap-tooltip-help, .app-canimap-tooltip-measure {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 1;
  white-space: nowrap;
}

.app-canimap-tooltip-measure {
  background: rgba(200, 100, 100, 0.6);
}
.canimap-menu-mobile button {
  background-color: rgba(255,255,255,0.9);
  cursor: pointer;
}

@media (max-width : 1024px) {
  .canimap-menu {
    display: none;
  }
  .canimap-menu-mobile {
    display: block;
  }
}
