<button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="appMenu" matTooltipPosition="right" matTooltip="Outils de carte">
  <mat-icon class="mat-24">
    photo
  </mat-icon>
</button>
<mat-menu #appMenu="matMenu" [overlapTrigger]="true">
  <button mat-icon-button (click)="chooseLayers($event)" aria-label="Layers" matTooltipPosition="below" matTooltip="Choisir le fond de carte"
    i18n="Layers|Choose the map layers">
    <mat-icon class="mat-24" color="default">
      layers
    </mat-icon>
  </button>
  <button mat-icon-button aria-label="Coordinates" matTooltipPosition="below" matTooltip="Position GPS" i18n="GPG|Add GPS marker"
    (click)="gpsMarker($event)">
    <mat-icon class="mat-24">
      location_searching
    </mat-icon>
  </button>
  <button mat-icon-button aria-label="Move" matTooltipPosition="below" matTooltip="Déplacer la carte" i18n="Move|Move the map"
    (click)="move($event)">
    <mat-icon class="mat-24" [style.color]="color('move')">
      zoom_out_map
    </mat-icon>
  </button>
  <button mat-icon-button aria-label="Zoom" matTooltipPosition="below" matTooltip="Carte aux 1/25000" i18n="Zoom|Zoom the map to 1/25000"
    (click)="zoom(25000)">
    1/25
  </button>
</mat-menu>
