<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="canimap-main col-6">
            <h2 *ngIf="!udpate">S'inscrire</h2>
            <h2 *ngIf="udpate">Mettre à jour</h2>
            <form name="form" class="register" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                <mat-form-field>
                    <input matInput type="email" name="email" [(ngModel)]="model.email" #lastName="ngModel" placeholder="Email" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" placeholder="Nom" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" placeholder="Prénom" required>
                </mat-form-field>
                <div class="no-break">
                    <mat-form-field>
                        <input matInput type="text" name="street" [(ngModel)]="model.street" #street="ngModel" placeholder="Rue" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" name="cp" [(ngModel)]="model.cp" #cp="ngModel" placeholder="Code Postal" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" name="city" [(ngModel)]="model.city" #city="ngModel" placeholder="Ville" required>
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <input matInput type="text" name="club" [(ngModel)]="model.club" #club="ngModel" placeholder="Club" required>
                </mat-form-field>
                <div [hidden]="!error" class="alert alert-danger">
                    {{error}}
                </div>
                <div [hidden]="!success" class="alert alert-success">
                    {{success}}
                </div>
                <div class="form-group">
                    <button mat-button color="primary" type="submit" [disabled]="loading">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>