<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="canimap-main col-6">
            <h2 *ngIf="!udpate">S'inscrire</h2>
            <h2 *ngIf="udpate">Mettre à jour</h2>
            <form name="form" class="register" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                <md-form-field>
                    <input mdInput type="text" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" placeholder="Nom" required>
                </md-form-field>
                <md-form-field>
                    <input mdInput type="text" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" placeholder="Prénom" required>
                </md-form-field>
                <div class="no-break">
                    <md-form-field>
                        <input mdInput type="text" name="street" [(ngModel)]="model.street" #street="ngModel" placeholder="Rue" required>
                    </md-form-field>
                    <md-form-field>
                        <input mdInput type="text" name="cp" [(ngModel)]="model.cp" #cp="ngModel" placeholder="Code Postal" required>
                    </md-form-field>
                    <md-form-field>
                        <input mdInput type="text" name="city" [(ngModel)]="model.city" #city="ngModel" placeholder="Ville" required>
                    </md-form-field>
                </div>
                <md-form-field>
                    <input mdInput type="text" name="club" [(ngModel)]="model.club" #club="ngModel" placeholder="Club" required>
                </md-form-field>
                <div class="no-break" [hidden]="udpate">
                    <md-form-field>
                        <input mdInput type="text" name="username" [(ngModel)]="model.username" #username="ngModel" placeholder="Login">
                    </md-form-field>
                    <md-form-field>
                        <input mdInput type="password" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Mot de passe">
                    </md-form-field>
                    <md-form-field>
                        <input mdInput type="password" name="passwordConfirm" [(ngModel)]="model.passwordConfirm" #password="ngModel" placeholder="Confirmer le mot de passe">
                    </md-form-field>
                </div>
                <div [hidden]="!error" class="alert alert-danger">
                    {{error}}
                </div>
                <div [hidden]="!success" class="alert alert-success">
                    {{success}}
                </div>
                <div class="form-group">
                    <button md-button color="primary" type="submit" [disabled]="loading">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
