<div class="canimap-menu-mobile">
    <button  type="button" class="btn btn-outline-primary"
             data-toggle="button" aria-pressed="false" autocomplete="off"
             aria-label="Tracking"
             placement="bottom" mdTooltip="Activer le suivi"
             i18n="Tracking|Track your position"
             (click)="onTrack()">
      <i class="material-icons">my_location</i>
    </button>
    <button type="button" class="btn btn-outline-primary"
            data-toggle="button" aria-pressed="false" autocomplete="off"
            placement="bottom" mdTooltip="Enregistrer le parcours"
            i18n="Record|Record the track"
            (click)="recordTrack()">
      <i class="material-icons">fiber_manual_record</i>
    </button>
  </div>
  